{% extends 'base.html' %} {% block content %}
<h1>{% block title %}Joe Hutcheson - MInf Project{% endblock title %}</h1>

<p>Parameter set in use: <b>{{ 'Aggressive' if aggressive else 'Conservative' }}</b> </p>
<p><a href="/trigger_aggressive">Switch to {{ 'aggressive' if not aggressive else 'conservative' }} parameter set</a> </p>


<h2>Whole dataset statistics:</h2>
<a href="/dataset_stats">Run</a>

<h2>Select scene:</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Select</th>
    </tr>

    {% for scene in nusc.scene %}
        <tr>
            <td>{{scene['name']}}</td>
            <td>{{ nusc.get('log', scene['log_token'])['location'] }}</td>
            <td>{{scene['description']}}</td>
            <td><a href="{{ url_for('scene', token=scene['token']) }}">select</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock content %}